<html>

<head>

  <% include ./../header %>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel">
          describe user info
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel">
          <div class="row">
            <div class="col s12 m6">
              address <br>
              type <br>
              user <br>
              price <br>
              date <br>
            </div>
            <div class="col s12 m6" style="background-color: pink; height: 200px; width: 200px;">
              picture part
            </div> 
          </div>          
        </div>
      </div>
    </div>
  </div>
</body>

</html>