<title>
  <%= title %>
</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>

<!-- vuejs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>

<script>
  $(document).ready(function () {
    $('.sidenav').sidenav();
  });
</script>
<style>
  .logo-img {
    max-height: 96px !important;
    padding: 12px 0!important;
    margin-top: -8px;	  
  }
  .user {
    max-height: 80px !important;
    padding: 12px 0!important;
    margin-top: -8px;	  
  }
</style>
