<html>

<head>
    <title>
        <%= title %>
    </title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>User Login</h1>
        <form action="verify" method="post">
            <input type="email" name="email" placeholder="Please input your email">account
            <input type="password" name="password" placeholder="password">password
            <br>
            <button class="btn waves-effect waves-light right" type="submit">Login</button>
        </form>
    </div>
</body>

</html>