<html>

<head>
  <% include ./header %>
</head>

<body>
  <% include ./navbar %>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3 class="center">Login</h3>
          <div class="card-panel">
            <form action="verify" method="post">
              <div class="row">
                <div class="input-field col s12">
                  <input required type="text" name="account" placeholder="Please input your account">
                  <label for="account">Account</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input required type="password" name="password" placeholder="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="col s2 offset-s8">
                  <a style="float: right; margin-top: 5px !important;" href="insert">Sign Up</a>
                </div>
                <div class="col s2">
                  <button class="btn waves-effect waves-light right" type="submit">Sign In</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>

</html>