<html>

<head>
  <% include ./../header  %>
</head>

<body>
  <% include ./../navbar %>

    <div class="container">
      <div class="row">
        <h1 class="center">Item Insert</h1>
        <div class="row card-panel">
          <form class="col s12" action="iteminsertdo" id="item" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" id="itemName" name="itemName">
                <label for="itemName">物件名稱</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" id="location" name="location">
                <label for="location">地址</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" id="pricePerDay" name="pricePerDay">
                <label for="pricePerDay">價格/每天</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input type="text" id="startDate" name="startDate" class="datepicker">
                <label for="startDate">開始時間</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="endDate" name="endDate" class="datepicker">
                <label for="endDate">結束時間</label>
              </div>
            </div>

            <div class="file-field input-field">
              <div class="btn waves-effect">
                <i class="material-icons">publish</i>
                <input type="file" id="filetoupload" name="filetoupload">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="upload your image">
              </div>
            </div>
            <input type="text" name="password" id="password" hidden>
            <button class="waves-effect waves-light btn right modal-trigger" href="#passwordcheck">Submit</button>
          </form>
        </div>
      </div>
    </div>


    <!-- Modal Structure -->
    <div id="passwordcheck" class="modal">
      <div class="modal-content">
        <div class="container">
          <h5 class="center-align">Please Enter Your Password To Comfirm Transaction</h5>
          <div class="input-field">
            <input type="password" id="passwordtwice" name="passwordtwice">
            <label for="passwordtwice">Password</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action waves-effect waves-green btn-flat" onclick="agree()">Agree</a>
      </div>
    </div>
</body>

<script type="text/javascript">
  $(document).ready(function () {
    $('.datepicker').datepicker();
    $('.modal').modal();
  });

  function agree() {
    var password = $('#passwordtwice').val();
    $('#password').val(password);
    $('#item').submit();
  }
</script>

</html>