<html>

<head>
  <% include ./../header %>
</head>

<body>
  <% include ./../navbar %>
  <div class="container">
    <h1>My Items</h1>
    <div class="row">
      <a class="waves-effect waves-light btn" href="insert">Insert</a>
    </div>
  </div>
</body>


</html>